@model IEnumerable<TtbLesson09.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Danh sách loại sách</h1>

<p>
    <a asp-action="TtbCreate" class="btn btn-success">Thêm mới</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
          
            <th>@Html.DisplayNameFor(model => model.First().CategoryId)</th>
            <th>@Html.DisplayNameFor(model => model.First().CategoryName)</th>
            <th class="text-center">Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CategoryId)</td>
                <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                <td class="text-center">
                    <a asp-action="TtbEdit" asp-route-ttbId="@item.CategoryId" class="btn btn-sm btn-primary">Edit</a> |
                    <a asp-action="TtbDetails" asp-route-id="@item.CategoryId" class="btn btn-info">Details</a> |
                    <a asp-action="TtbDelete" asp-route-id="@item.CategoryId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

