@model List<TtbLesson08.Models.TtbAccount>

@{
    ViewData["Title"] = "TtbIndex";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Họ và tên</th>
            <th>Địa chỉ Email</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ thường trú</th>
            <th>Ảnh đại diện</th>
            <th>Ngày sinh</th>
            <th>Mật khẩu</th>
            <th>Link Facebook cá nhân</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TtbId</td>
                <td>@item.TtbFullName</td>
                <td>@item.TtbEmail</td>
                <td>@item.TtbPhone</td>
                <td>@item.TtbAddress</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.TtbAvatar))
                    {
                        <img src="~/images/@item.TtbAvatar" alt="Avatar" width="50" />
                    }
                </td>
                <td>@item.TtbBirthday.ToShortDateString()</td>
                <td>@item.TtbPassword</td>
                <td><a href="@item.TtbFacebook" target="_blank">Facebook</a></td>
            </tr>
        }
    </tbody>
</table>
